
/* ---------HEADER---------- */
.header{
    padding-left: 8rem;
}
.profession{
    font-size: 4rem;
}
.placeholder{
    color: aliceblue;
}
/* --------------MOBILE---------- */
@media screen and (max-width:540px) {
    .header{
        padding-left: 0rem;
    }
}