*{
    color: #717171;
}
/* ---------HEADER---------- */
.header{
    padding-left: 8rem;
}
.container{
   margin-inline: 8rem;
}
.profession{
    font-size: 4rem;
}
.company-icons{
    gap: 5.7rem;
}
.card{
    width: 20rem;
}
.read-more{
    top: 10rem;
}

/* --------------MOBILE---------- */
@media screen and (max-width:540px) {
    .header{
        padding-left: 0rem;
    }
    .card-container{
       position: relative;
       left: 70px;
    }
    .container{
        margin-inline: 1rem;
    }
    .card-img-info{
        margin-left: 3rem;
    }

}
@media screen and (min-width:768px) {
    .card-img-info{

       margin-right: 20px; 
    }
    .header{
        padding-left: 0rem;
    }
}
@media screen and (min-width:1200px) {
    .card-img-info{
       margin-right: 0px; 
    }
    .header{
        padding-left: 8rem;
    }
}